[Unit]
Description=Pull deploy for Servers Info Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dash-autodeploy.sh
TimeoutStartSec=600
